.extra_info_middot{display: none}
.friend_name .user_profile_link_span a {
    font-size: 12px!important;
}
.drop_data_action {
    position: absolute;
    left: 0px;
    top: 18px;
    width: 145px;
    height: 29px;
}
.drop_data_user {
    left: 0px;
    top: 0px;
    font-size: 12px;
    padding: 0px;
    margin: 0 0 0 1px;
    color: #19324C;
    font-weight: bold;
    position: relative;
}
.drop_data_content {
    margin-left: 62px;
    height: 56px;
    color: #000000;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
    padding-top: 3px;
}
.drop_data_image {
    float: left;
    height: 56px;
    width: 57px;
}
#holder_notify ul li .holder_notify_drop_data ul li.holder_notify_drop_data {
    width: 253px;
    background: #ffffff;
    padding: 1px 0 0;
    color: #fff;
    height: 56px;
    border-bottom: #d6d6d6 1px solid;
    margin: 0px;
}
.drop_data_content {
    margin-left: 62px;
    height: 56px;
    color: #000000;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
    padding-top: 3px;
}
/*drop down notifi*/

.privacy_setting_holder ul li a:hover {
    background: #440A0B;
    color: #fff;
}
#like_text{font-size: 12px !important;}
#share_text{font-size: 12px !important;display: -webkit-inline-box;}
#cm_text{font-size: 12px !important;}
.mess_block{
    margin-top: 5px;
}
.drop_data_text{
    font-size: 13px;
    margin: 3px 0;
}
/*mini like cm share*/
.comment_mini_link_like ul li a{font-size: 12px;}
.other_bt{
    text-align: center;
    margin: auto;
    color: #19324C;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    padding: 2px;
}

#like_bt{display: -webkit-inline-box;}
.icon_share{
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -559px -192px;
    width: 20px;
    height: 100%;
    position: relative;
    display: -webkit-inline-box;
    padding-top: 13px;

}
.sub_menu_bar_li i {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -618px -194px;
    width: 20px;
    height: 20px;
    position: relative;
    display:inline-block;
}
.icon_like{
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -586px -186px;
    width: 20px;
    height: 20px;
    position: relative;
    padding-right: 2px;
}
.comment_img{
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -617px -186px;
    width: 20px;
    height: 20px;
    position: relative;
}
.link_cm{display: -webkit-inline-box}

/*mini like cm share*/
#content{
    padding: 0;
}
.body_temp{
  background-color: #d3d6db;
  }
.menubar{
    background: url("../image/layout/backgound_middle.png") repeat-y ;
    position: relative;
    left: 0px;
    overflow-x: hidden;
    width: 270px;
    display: none;
}
/*css user img + name on top of sliding bar*/
.slidingbar_line_logout{

    height: 26px;
    width: 270px;
    padding-top: 6px;
}
#slidingbar_top{
    height: 100px;

    width: 270px;
    color: #fff;
    text-align: center;
    font-size: medium;
    float: left;
}
#slidingbar_top  .slidingbar_user_name{
    margin-top: 38px;
    margin-right: 89px;
}
#slidingbar_top .slidingbar_user_img {
    height: 75px;
    width: 75px;
    margin: 19px 19px;
    overflow: inherit;
    float: left;
}
#slidingbar_top .slidingbar_user_name a,
#slidingbar_top .slidingbar_user_name a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    font-size: 11pt;
    font-weight: bold;
    cursor: pointer;
}/*css user img + name on top of sliding bar--- END*/
/*css cua menu chua icon va tieu de tung phan */
#menu_mid .slidingbar_line {

    height: 26px;
    width: 270px;
    padding-top:0px;
    padding-bottom: 5px;
}
#menu_mid .slidingbar_line_logout .slidingbar_line_font {
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    margin-left: 17px;
    padding-top: 9px;
    text-shadow: -2px 0 #343434;
    text-transform: uppercase;
    width: 50px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
#menu_mid .slidingbar_line .slidingbar_line_font {
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    margin-left: 17px;
    padding-top: 9px;
    text-shadow: -2px 0 #343434;
    text-transform: uppercase;
    width: 50px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
#menu_mid .slidingbar_bot {

    height: 92px;
    width: 270px;
}
.slidingbar_line_img{
    width:158px;
    height:10px;
    background: url("../image/layout/slidingbar_line_h10.png") repeat-x;
    float:right;
    margin-right:23px;
    margin-top:10px;
}
.slidingbar_line_img1{
    width:180px;
    height:10px;
    background: url("../image/layout/slidingbar_line_h10.png") repeat-x;
    float:right;
    margin-right:23px;
    margin-top:10px;
}
/*css cua menu chua icon va tieu de tung phan --- END*/
/*menu 3 icon va title*/
.slidingbar_line_logout{}
.slidingbar_title_logout{
    font-size: 14px;
    color: #ffffff;
    float: left;
    font-size: 10pt;
    height: 23px;
    margin-top: 12px;
    padding-left: 18px;
    font-weight: bold;
}
.three_icon_menu{

    overflow:hidden;
    width:270px;
    height:80px;
    padding-top: 10px;
}
.sidebar_3icon_mess{

    width: 90px;
    height: 80px;
    color: #fff;
    height:80px;
    float:left;
    font-size: medium;
}
.sidebar_3icon_db{

    width: 90px;
    height: 80px;
    color: #fff;
    float:left;
    font-size: medium;
}
.sidebar_3icon_fr{
    width: 90px;
    height: 80px;
    color: #fff;
    float:left;
    font-size: medium;
}
.sliding_mobile .sidebar_dashboard {
    background: url('../image/layout/icon_dash.png') no-repeat;
    width: 48px;
    height: 39px;
    margin-left: 23px;
}
.sliding_mobile .sidebar_friends {
    background: url('../image/layout/icon_friend.png') no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.sliding_mobile .sidebar_dashboard {
    background: url('../image/layout/icon_dash.png') no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 27px;
}
.sliding_mobile .sidebar_messages {
    background: url('../image/layout/icon_mess.png') no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 31px;
    padding-left: 18px;
}
.slidingbar_title_db {
    margin-top: 0px;
    height: 12pt;
    height: 12pt;
    font-size: 14px;
    color: #ffffff;
    text-shadow: -1px 0px #858585;
    margin-left: 12px;
    margin-top: 0;
    padding-top: 10px;
    font-weight: bold;
    text-decoration:none;
    text-align: center;
}
.slidingbar_title_mess{
    height: 14pt;
    font-size: 14px;
    color: #ffffff;
    margin-left: 19px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
   }
.slidingbar_title_fr{
    height: 14pt;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}
/*menu 3 icon va title----- END*/
/*menu bar khi chua login*/
.sliding_mobile .icon_list .sidebar_sign {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -153px -71px;
    width: 19px;
    height: 19px;
    float: left;
    background-size: 375px auto;
    margin-top: 17px;
    margin-left: 24px;
}
.sliding_mobile .icon_list .sidebar_login {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -153px -46px;
    width: 19px;
    height: 19px;
    float: left;
    margin-top: 12px;
    margin-left: 24px;
    background-size: 375px auto;
}
.slidingbar_title {
    font-size: 14px;
     color: #ffffff;
    float: left;
    font-size: 10pt;
    height: 23px;
    margin-top: 17px;
    padding-left: 18px;
    font-weight: bold;
}
.full_site {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*menu bar khi chua login--- END*/
/*icon va menu giua~ */
.icon_list {

    width: 270px;
    height: 37px;
    color: #fff;
    text-align: center;
    font-size: medium;
}
#icon_list_image {
    left: 10px;
    top: 9px;
    float: left;
    margin: 8px 9px 8px 19px;
    width: 19px;
    height: 19px;
}
.sliding_mobile .icon_list .slidingbar_language {
    background: url('../image/layout/icon.png');
    background-position: -265px -103px;
    width: 20px;
    height: 25px;
    float: left;
    margin: 18px 3px 10px 25px;
}
.sliding_mobile .icon_list .sidebar_logout {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -564px -102px;
    width: 21px;
    height: 25px;
    float: left;
    margin: 12px 3px -3px 25px;
}
.sliding_mobile .icon_list .slidingbar_full {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -365px -102px;
    width: 20px;
    height: 25px;
    float: left;
    margin: 18px 3px -3px 25px;
}
/*JS slidiebar*/
#mobile_header_home {
    z-index: 10;
    position: absolute;
    left: 10px;
    top: 7px;
    display: block;
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -564px -46px;
    overflow: hidden;
    text-indent: -1000px;
}
#mobile_holder {
    position: absolute;
    width: 100%;
    top: 0px;
}
#mobile_header {
    height: 45px;
    background-color:#440A0B;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: medium;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: block;
    top: 0px;
    background-image:none;
}
/*JS slidiebar*/
/*icon top bar mobile*/

#holder_notify {
    margin: auto;
    top: 10px;
    width: 172px;
    left: 0px;
    position: relative;
    text-align: center;
}
#holder_notify ul li a.friend_notification,
#holder_notify ul li a.friend_notification:hover {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -515px -2px;
    width: 21px;
    height: 25px;
}
#holder_notify ul li.is_active a.friend_notification {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -515px -48px;
    width: 21px;
    height: 25px;

}
#holder_notify ul li a.notification,
#holder_notify ul li a.notification:hover {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -407px 0;
    width: 25px;
    height: 25px;
 }
#holder_notify ul li.is_active a.notification
{
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -408px -46px;
    width: 25px;
    height: 25px;
}


#holder_notify ul li a.message, #holder_notify ul li a.message:hover {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -463px -2px;
    width: 25px;
    height: 28px;
    }
#holder_notify ul li.is_active a.message{
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -463px -47px;
    width: 25px;
    height: 28px;
    /*margin-top: 2px;*/
}
#holder_notify ul li.is_active a.notify_drop_link,
#holder_notify ul li.is_active a.notify_drop_link:hover
{
    border-left:none !important;
    border-right:none !important;
    border: none !important;
    border-style: none !important;
}
#holder_notify ul li a.notify_drop_link,
#holder_notify ul li a.notify_drop_link:hover
{

    border-left:none !important;
    border-right:none !important;
    border: none !important;
    border-style: none !important;

}
#holder_notify li {
    padding-left: 25px;
}
.holder_notify_count {
    position: absolute;
    display: none;
    z-index: 10;
    right: 15px;
    top: -6px;
    background: red;
    color: #fff;
    padding: 0px;
    font-weight: bold;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    border: 1px #ffffff solid;
    line-height: 13px;
    font-size: 13px;
    font: arial;
}
.holder_notify_count span {
    text-align: center;
}
/*icon top bar mobile---END*/
/*top bar*/
#notification_mobile {
    position: relative;
    height: 5px;
}
a.mobile_search_button, a.mobile_search_button:hover {
    background: url("../image/layout/icon.png") no-repeat scroll -113px -98px transparent;
    display: block;
    height: 22px;
    overflow: hidden;
    position: fixed;
    right: 7px;
    text-indent: -1000px;
    top: 11px;
    width: 22px;
    z-index: 2;
}
.button_back {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -2px -20px;
    width: 18px;
    height: 26px;
    background-size: 375px auto;
    left: 8px;
    padding-left: 6px;
    position: absolute;
    top: -33px;
    z-index: 1;
}
/*top bar --- END*/
/*feed content share bar*/
.activity_feed_form_share{
    background-color: #FFFFFF;
    background-image: none;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.49);
    box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.49);
    margin: 8px;
    padding: 0;
    margin-top: 0px;
}
ul.activity_feed_form_attach li.other_share_button i {
    margin-left: 5px;
}
.block .menu {
    display: none;
}
.activity_feed_form_attach .other_share li {
    float: none;
    width: 150px;
    opacity: 1;
    padding-left: 15px;
}
.activity_feed_form_attach .other_share li .status_button {
    text-align: left;
    padding-left: 25px;
    padding-top: 7px;
}
ul.activity_feed_form_attach li {
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0;
    background: url('../image/misc/line_right.png') no-repeat left;
    overflow-y: hidden;
}
ul.activity_feed_form_attach li a,
ul.activity_feed_form_attach li a:hover {
    display: block;
    font-weight: bold;
    height: 38px;
    line-height: 25px;
    position: relative;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
.other_share_button .status_button i {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -717px -5px;
    width: 18px;
    height: 17px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 3px;
}
.status_button {
    text-align: center;
    margin: auto;
    color: #440A0B;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    padding: 0px;
}
.status_button i {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -215px -2px;
    width: 23px;
    height: 24px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 4px;
}
.photo_button {
    text-align: center;
    margin: auto;
    color: #440A0B;
    font-size: 13px;
    font-weight: bold;
    padding: 0px;
}
.photo_button i {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -216px -100px;
    width: 25px;
    height: 24px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 4px;
}
#main_content_holder {
    padding: 0px;
}
.activity_feed_link_form,
.activity_feed_link_form_ajax,
.activity_feed_extra_info {
    display: none;
}
#holder{
    padding-top: 45px;
}
.js_feed_view_more_entry_holder{
    margin: 18px 8px;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    background: #ffffff;
    border: #aaaaaa 1px solid;
}
.other_share {
    display: none;
    position: absolute;
    right: 0px;
    top: 38px;
    z-index: 1;
    background-color:#FFFFFF;
    border: #aaaaaa 1px solid;
    box-shadow: 1px 1px 1px #cdcdcd;
}
.other_share_button {
    position: relative;
}
.other_share_button .status_button {
    cursor: pointer;
}
.other_share_button .status_button i {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -716px -7px;
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 8px;
}
#site_content{
   padding-top: 8px !important;
    margin: 0px !important;
    background-color: #d3d6db;
}
#mobile_content{
    padding: 0px;
    background-color: #d3d6db;
}
/*feed content share bar-- END*/

/*FEED BOX*/
.time_stamp{margin-top: 3px;}
.icon_stamp{float: left;
            margin-left: 3px;}
.feed_delete_link {
    display: block;
}
.feed_delete_link img {
    margin-right: 5px;
}
.activity_feed_image {
    position: absolute;
    margin: 10px;
    border: none;
}
.activity_feed_content_info {
    float: left;
    color: #676767;
    font-size: 14px;
    width: 100%;
    vertical-align: top;
}
.activity_feed_content_info a {
    color: #118ccd;
    font-size: 14px;
    font-weight: normal;
}
.activity_feed_content_info span a {
    color: #118ccd;
    font-size: 14px;
    font-weight: bold;
}
.activity_feed_content_info_text {
    margin: 10px 10px 10px 70px;
}
.activity_feed_content_info {
    float: left;
    color: #676767;
    font-size: 14px;
    width: 100%;
    vertical-align: top;
}
.activity_feed_content_info a {
    color: #000000;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
}
.activity_feed_content_info span a {
    color: #440A0B;
    font-size: 14px;
    font-weight: bold;
}
.activity_feed_content_info_text {
    margin: 10px 10px 10px 70px;
}
.activity_feed_content_image img.js_hover_title,
.activity_feed_content_link img.js_hover_title {
    margin-left: 5px;
}
.activity_feed_content_image img {
    max-width: 100%;
    height: auto;
    width: auto;
}
.activity_feed_content_float:after {
    clear: both;
}
.row_feed_loop .js_feed_comment_border ul li a,
.row_feed_loop .js_feed_comment_border ul li a:hover,
.comment_mini_action ul li a,
.comment_mini_action ul li a:hover,
.activity_feed_content_status ul li a,
.activity_feed_content_status ul li a:hover {
    color: #19324C;
    font-size: 10px;
}
.activity_feed_content_text{
    margin-bottom: 27px;
    margin-right: 0px;
}
.comment_mini_link_like {
    background-color: #f3f3f3 !important;
    height: 29px;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #dadde1;
    padding: 0px;
    padding-top: 2px;
}
.comment_mini_link_like ul {
    margin: 0px !important;
    width: 100%;
}
.comment_mini_link_like ul li {
    font-weight: bold;
    line-height: 26px;
    width: 31.30%;
    text-align: center;
    background: url("../image/misc/line_right.png") no-repeat scroll left center transparent !important;
}
.comment_mini_link_like span {
    color: #009bdc;
    line-height: 26px;
}
.italiano .comment_mini_link_like {
    height: 59px;
}
.italiano .comment_mini_link_like ul li {
    line-height: 28px;
}
.like_count {
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #118ccd;
    height: 20px;
    text-align: right;
    position: absolute;
    top: -24px;
    left:13px;
    width: auto;
}
.like_count img {
    width: 20px;
}
.like_number{
    width: 19px;
    float: left;
    font-size: 12px;
}
.like_count .js_comment_like_holder {
    display: inline-block;
    text-align: center;
    float: left;
    width: auto;
}
.like_count .comment_feed_link {
    width: 40px;
    float: left;
}
.like_count .comment_feed_link img {
    margin-right: 5px;
    vertical-align: middle;
}
.like_count .js_comment_like_holder a,
.like_count .comment_feed_link a,
.coment_text {
    color: #440A0B;
    font-size: 12px;
    float: left;
}
.coment_text{
    padding-left: 5px;
}
.like_count .comment_feed_link {
    width: auto;
    float: left;
}
.like_count .comment_feed_link img {
    margin-right: 5px;
    vertical-align: middle;
}
.italiano .like_count .js_comment_like_holder,
.italiano .like_count .comment_icon {
    display: block;
}
.italiano .like_count .comment_icon {
    margin-top: 8px;
}
.like_icon {
    font-size: 12px;
}
.like_image {
    width: 70px;
}
.italiano .comment_mini_link_like {
    height: 59px;
}
.italiano .comment_mini_link_like ul li {
    line-height: 28px;
}
.activity_feed_content {
    float: none;
    margin-left: 3px;
    margin: 0px;
}
.activity_feed_content_info_text {
    margin: 10px 10px 10px 70px;
}
.js_item_feed_8{
    padding: 0px;
}
.activity_feed_content_link{
    margin-left: 0px;
}
.activity_feed_content_image {
    float: left;
    max-width: 100%;
    overflow: hidden;
    padding-right: 0px;
}
.activity_feed_content_status {
    margin-left: 10px;
    color: #323232;
    font-size: 13px;
    margin-top: -3px;
}
.photo_holder {border: none}
/*FEED BOX-----END*/

/*DROP DOWN TOP BAR CSS*/
#holder_notify ul li div.holder_notify_drop {
    position: fixed;
    top: 36px;
    background: none;
    border: none;
    width: 100%;
    margin: auto;
}
#arrow_friend {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -711px -102px;
    width: 132px;
    height: 21px;
    margin:auto;
    /*position: fixed;*/
    z-index: 1001;
}
#arrow_mess {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -711px -102px;
    width: 38px;
    height: 21px;
    margin:auto;
    /*position: fixed;*/
    z-index: 1001;
}
#arrow_notifi{
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -711px -102px;
    width: 43px;
    height: 21px;
    margin: 0px 86px;
    z-index: 1001;
    position: inherit;
        }
#div_arrow{
    margin: auto;
    width: 100px;
}
#holder_notify ul li div.holder_notify_drop .holder_notify_drop_content {
    position: relative;
    z-index: 1000;
    background: url("../image/layout/notification.png") right no-repeat;
    color: #333;
    height: 309px;
    width: 273px;
    left: 0px;
    margin: auto;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#holder_notify ul li div.holder_notify_drop .holder_notify_drop_title {
    border: none;
    margin: -4px 6px;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    text-shadow: 1px 1px black;
}
.holder_notify_drop_data {
    border: none;
    width: 253px;
    background: #ffffff;
    margin: 0 10px 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 238px;
}
#notification_see_all {
    border: none;
    background: none;
    margin: -17px;
    color: antiquewhite;
}
#holder_notify ul li div.holder_notify_drop .holder_notify_drop_title_link {
    position: absolute;
    right: 5px;
}
.compose_message {
    background: url('../image/layout/icon.png') no-repeat;
    background-position: -263px -3px;
    width: 20px;
    height: 20px;
    z-index: 1003;
    margin: 10px 0;
}
#holder_notify ul li div.holder_notify_drop .holder_notify_drop_title_link a,
#holder_notify ul li div.holder_notify_drop .holder_notify_drop_title_link a:hover {
    background: none;
    font-weight: normal;
}
#holder_notify ul li div.holder_notify_drop a.holder_notify_drop_link:hover,
.js_temp_friend_search_form_holder ul li a.holder_notify_drop_link:hover {
    background: #333;
    color: #fff;
}
#holder_notify ul li div.holder_notify_drop a.holder_notify_drop_link,
#holder_notify ul li div.holder_notify_drop a.holder_notify_drop_link:hover,
.js_temp_friend_search_form_holder ul li a.holder_notify_drop_link,
.js_temp_friend_search_form_holder ul li a.holder_notify_drop_link:hover,
#holder_notify ul li .holder_notify_drop_data ul li a.main_link:hover {
    background: #CACACA;
    color: #fff;
}
#holder_notify ul li div.holder_notify_drop a.holder_notify_drop_link,
#holder_notify ul li div.holder_notify_drop a.holder_notify_drop_link:hover,
.js_temp_friend_search_form_holder ul li a.holder_notify_drop_link,
.js_temp_friend_search_form_holder ul li a.holder_notify_drop_link:hover {
    display: block;
    text-decoration: none;
    line-height: 30px;
    border-top: 1px #DFDFDF solid;
    background: #EFEFEF;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    color: #000000;
}
#holder_notify ul li .holder_notify_drop_data ul li a.main_link,
#holder_notify ul li .holder_notify_drop_data ul li a.main_link:hover {
    background: white;
    color: #fff;
    height: 56px;
    padding: 0px;
    border-bottom: #d6d6d6 1px solid;
    margin-top: 0px;
}


/*DROP DOWN TOP BAR CSS----- END*/

/*
Share form*/
.activity_feed_form_holder{
    margin-top: -8px;
}
.activity_feed_form{
    background: none;
    border: none;
}
.activity_feed_form textarea{
    height: 200px !important;
    width: 98.9%;
    padding: 0px;
}
.activity_feed_form_button_position .privacy_setting_mini {

    width: 100%;
}
.activity_feed_form_button{
    width: 100%;
    background-image: none;
    background: none;
    float: left;
    padding: 0;
    border: none;
}
.activity_feed_form_button_position{
    width: 99%;
    position: absolute;
    top: 280px;
}
.activity_feed_form_button_position_button{
    padding: 0px;
}
input.button_status {
    cursor: pointer;
    vertical-align: middle;
    font-weight: bold;
    overflow: visible;
    color: #fff;
    background: url('../image/layout/share_bt.png') no-repeat;
    width: 35px;
    height: 40px;
    border: none;
    line-height: 16px;

}
.privacy_setting_holder{
    position: relative;
    background: #fff;
    border-right: 1px #333 solid;
    border-left: 1px #333 solid;
    border-bottom: 2px #333 solid;
    width: 200px;
    z-index: 2000;
    display: none;
}
.privacy_setting_mini a.privacy_setting_active,
.privacy_setting_mini a.privacy_setting_active:hover {
    display: block;
    background: none;
    padding: 0px;
    z-index: 1;
    font-weight: normal;
    overflow: hidden;
    text-indent: 0px;
    color: #440A0B;
    font-size: 16px;
    text-decoration: none;
    line-height: 42px;
    width: 100%;
    text-align: center;
}
li.menu_privacy_drop:hover ul.menu_drop li a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}
li.menu_privacy_drop:hover ul.menu_drop li a:hover{
    color: white;
    font-size: 18px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}

li.menu_privacy_drop {
    height: 26px;
    background: #fff;
    margin: 0 8px 10px;
    width: 100% !important;
    border: 1px #a5a5a5 solid;
    list-style: none;
    position: relative;
    margin: 0px !important;
    height: 41px !important; ;
}
li.menu_privacy_drop:hover ul.menu_drop {
    height: 151px;
    width: 100%;
    display: block;
    position: relative;
    background: #fff;
    color: #868686;
    font-size: 14px;
    border: 1px #a5a5a5 solid;
    border-top: none;
    margin-left: -1px;
    margin-top: -2px;
}
.activity_feed_form_button .privacy_setting_holder {
    border: none;
    height: 20px;
    width: 100%;
    display: block;
}
.privacy_setting_mini .privacy_setting_holder {
    right: inherit;
    border: none;
    background: none;
    width: 100%;
}
ul.menu_drop {
    display: none;
    position: absolute;
}
.activity_feed_form_button .privacy_setting_holder ul li a.is_active_image {
    background-image: url('../image/misc/checked.png');
    background-repeat: no-repeat;
    background-position: 5px 0px;
}
.activity_feed_form_button .privacy_setting_holder {
    border: none;
    height: 20px;
    width: 100%;
    display: block !important;
}
/*Share form----END*/
/*login page*/
#holder{
    top: 0px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.no_bg{
    background: url('../image/layout/login_bg.png') no-repeat center center fixed;
}
.welcome {
    margin-top: 20%;
    margin-left: 47px;
    margin-right: 47px;
    text-align: center;
}
.welcome_text {
    font-size: 38px;
    color: #CCCCCC;
}
.login_box {
    width: 283px;
    margin: auto;
    height: 181px;
    border: none;
}
#content .block .title {
    border: none !important;
}
.title{
padding: 0px 0px 0px 4px;
    line-height: 25px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px #DFDFDF solid;
    background: #ECECEC;
    font-size: 11px;
}
.pages_profile_block{
    float: left;
width: 75px;
margin-right: 10px;
margin-bottom: 10px;
overflow: hidden;
    }
.pages_profile_view_more{display: none}
#js_email {
    background: url("../image/login/input_top.png") no-repeat;
    width: 247px;
    height: 45px;
    padding: 0px;
    margin-left: 18px;
    margin-right: 18px;
    border: none;
}
#email_login {
    background: none;
    border: none !important;
    margin: 0;
    font-size: 14px;
    height: 45px;
    padding: 0 0 0 10px;
    padding-left: 70px;
    color: #FFFFFF;
    width: 175px;
}
#js_password {
    background: url("../image/login/input_down.png") repeat-x;
    height: 45px;
    width: 247px;
    padding: 0px;
    margin-left: 18px;
    margin-right: 18px;
    border: none;
}
#password_login {
    border: none;
    background: none;
    margin: 0;
    font-size: 14px;
    height: 39px;
    padding: 0 0 0 10px;
    padding-left: 70px;
    color: #FFFFFF;
    width: 175px;
}
.button_login {
    background: url("../image/login/button_login.png") !important;
    height: 46px;
    width: 245px;
    margin-top: 6px;
    margin-left: 17px;
    float: left;
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: #0b8ac0 0px 1px 1px;
    padding-bottom: 7px;
    font-size: 16px;
    border: none;
}
.signup_bt {
    color: #FFFFFF;
    text-align: center;
    width: 100%;

    font-size: 12px;
}
/*
login page*/

/*Photo page*/

/*Photo page---end*/
#global_attachment_poll {
    position: static !important;
    top: 217px !important;
    right: 0 !important;
     display: block;
    overflow: hidden;

}
/*photo attach link field*/
input.global_link_input{
    width: 200px !important;
}
#global_attachment_link{
    top: 236px !important;
   }
.activity_feed_form_button_position_button {
    right: 5px;
    padding-left: 6px;
    position: absolute;
    top: -38px;
    height: 30px;
}
/*notifi box*/
#holder_notify ul li .holder_notify_drop_data ul {
    border: none;
    width: 253px;
    height: 238px;
    background: #ffffff;
    margin: 0px;
}
#holder_notify ul li .holder_notify_drop_data ul li.holder_notify_drop_data {
    width: 253px;
    background: #ffffff;
    padding: 1px 0 0;
    color: #fff;
    height: 56px;
    border-bottom: #d6d6d6 1px solid;
    margin: 0px;
}
#holder_notify ul li .holder_notify_drop_data ul li a.main_link,
#holder_notify ul li .holder_notify_drop_data ul li a.main_link:hover {
    background: white;
    color: #fff;
    height: 56px;
    padding: 0px;
    border-bottom: #d6d6d6 1px solid;
    margin-top: 0px;
}
.drop_data_content {
    margin-left: 62px;
    height: 56px;
    color: #000000;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
    padding-top: 3px;
}
.drop_data_title {
    color: #000000;
    font-size: 12px;
    padding-right: 6px;
}
.drop_data_time {
    color: #aeaeae;
    font-size: 11px;
    padding-top: 5px;
    float: left;
    height: 9px;
}
.drop_data_user {
    left: 0px;
    top: 0px;
    font-size: 12px;
    padding: 0px;
    margin: 0 0 0 1px;
    color: #440A0B;
    font-weight: bold;
    position: relative;
}
#holder_notify ul li .holder_notify_drop_data ul li a:hover .drop_data_time,
#holder_notify ul li .holder_notify_drop_data ul li a:hover .drop_data_user
{
    color:#440A0B;
}
/*PROFILE PAGE*/
#mobile_profile_photo_name ul {
    margin-left: -14px;
}
#mobile_profile_header {
    background: #ffffff;
    color: #323232;
    padding-top: 1px;
    margin-bottom: 15px;
    position: relative;
    border-top: none !important;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.49);
    box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.49);
}
#mobile_profile_photo {
    position: relative;
    min-height: 80px;
    padding-bottom: 15px;
}
#mobile_profile_photo_image {
    position: absolute;
    top: -69px !important;
    left: 0px;
    width: 100px !important;
    height: 100px !important;
    background: #ffffff;
    margin: 16px;
    padding: 0px;
    border: #ffffff 3px solid;
    top: -18px;
    -webkit-box-shadow: 0px 1px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    0px 1px 0px rgba(50, 50, 50, 0.49);
    box-shadow: 2px 1px 6px rgba(50, 50, 50, 0.49);
}
#mobile_profile_photo_image img{
    height: 100px;
    width: 100px;
}
.cover_photo_link {
    height: 300px;
    border-bottom: 1px #fff solid;
}
.mobile_profile_name_content {
    margin-left: 146px;
}
.mobile_profile_name a, .mobile_profile_name a:hover {
    font-size: 18px;
    color: #424242;
    font-weight: bold;
}
.mobile_profile_info {
    color: #737373;
    font-size: 11px;
    margin-left: 17px;
    margin-top: 45px;
}

/*bottom menu*/
.mobile_profile_header_menu {
   }
.profile_bottom {
    position: fixed;
    bottom: 0px !important;
    z-index: 1;
    width: 100%;
    border-bottom: none;
    -webkit-box-shadow: 0px -1px 2px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    0px -1px 2px rgba(50, 50, 50, 0.49);
    box-shadow:         0px -1px 2px rgba(50, 50, 50, 0.49);

}
.mobile_profile_header_menu li a.active,
.mobile_profile_header_menu li a.active:hover {
        color: #6e6e6e;
    width: 33.33%;
    border-bottom: 3px solid #440A0B;
    background: #ffffff url("../image/profile/footer_gach_ngang.png")no-repeat right;
}
.mobile_profile_header_menu li a,
.mobile_profile_header_menu li a:hover {
    font-size: 13px;
    color: #797979;
    width: 33.33%;
    border-bottom: 3px solid #ffffff;
    background: #ffffff url("../image/profile/footer_gach_ngang.png")no-repeat right;
}

/*info page*/
#content div.info {
    border-bottom: 0px #EFEFEF solid;
    clear: both;
    font-size: 17px;
}
#content div.info_left {
    float: left;
    padding-right: 19px;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #8A8A8A;
    margin-left: 5px;

}
div.info_left {
    color: #808080;
    font-weight: bold;
}
#content div.info_right {
    margin-left: 39px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4D4D4D;
    font-weight: bold;
}
div.info_right {
    padding: 2px 0px 0px 10px;
}
#js_basic_info_data{
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    background: #ffffff;
    border: #aaaaaa 1px solid;
    margin: 10px;
}
/*photo pages*/
.header_bar_menu{
    display: none;
}
#photo_tab{
    width:48%;
    height:54px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    border-radius: 30px 30px 0px 0px;
     background-color:#EBEBEB;
     margin-left: 5px;
   }
#album_tab{
    width:48%;
    margin-left: 5px;
    height:54px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    border-radius: 30px 30px 0px 0px;
      background-color:#EBEBEB;
   }
#breadcrumb_holder{display: none}
.moderation_holder{display: none}
.profile_photo_special_menu {
    margin: 0px 0px 0px 0px;
    height: 0px;

}
#js_actual_photo_content{
    background-color: #EBEBEB;
   }
/*user page*/
#mobile_profile_photo_name ul li a,
#mobile_profile_photo_name ul li a:hover {
    display: block;
    float: left;
    background: #ffffff;
    border: 1px #000 solid;
    color: #000000;
    line-height: 26px;
    height: 26px;
    padding: 0px 20px;
    text-decoration: none;
    margin-right: 9px;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.49);
    border-color: #b1b1b1;
}
#mobile_profile_photo_name {
    position: relative;
    font-weight: bold;
    left: 32px;
    top: 5px;
    font-size: medium;
}
/*comment page*/
.feed_share_custom .ul{
    display: none;
}
/*sign in page*/
#main_registration_form_holder {
    margin-top: 0px;
}
/*pages*/
.row_title_image1{
    float: left;
}
.row_title_info1 {
    height: 65px;
    margin-left: 134px;
    padding-top: 31px;
    }
.row_title_info1 a {font-size: 20px}
/*search page*/
.main_search_bar {
    margin: 0;
    border-bottom: 1px #dfdfdf solid;
    padding-bottom: 15px;
    text-align: center;
}
.main_search_bar_input {
    width: 80%;
}
.main_search_bar_button {
  margin-top: 2px;
}
.sign_up_button{display:none }
.forgot_bt {
    color: #FFFFFF;
    text-align: center;
    width: 100%;

    font-size: 12px;
}
.sign_forgot{
    position: fixed;
    bottom: 0px;
    width: 100%;

    text-align: center;
}
.fbconnect_button{
    background: url("../image/layout/fb_login.png") !important;
    text-align: center;
}
.header_login_block{  background: url("../image/layout/fb_login.png") !important;}