.albums_container_row
{
    margin-left: auto;
    margin-right: auto;
    height:250px;
}

.album_entry
{
    width: 29%;
    margin: 0px 15px 20px;
    height:230px;
    
}

.album_a_img_holder
{
    min-height:193px;
    background-size: cover;
    display:block;
}

.image_hover_holder
{
    margin-left: auto;
    margin-right: auto;
    height:193px;
    width:193px;
}


#js_controller_photo_albums #content_load_data h1
{
	position: absolute;
}

#js_controller_photo_albums #content_load_data #content
{
	margin-top: 30px;
}